body {
    font-family: sans-serif;
background-color: cornflowerblue;
}


html{
    background-color: coral;
border: 50px solid red;

}

header{
    background-color: coral;
}

p{
    font-family:'Times New Roman', Times, serif ;
}

img {
    width: 180px;
    height:90px;
}
